extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.medium-6.large-6

        //- Add your name.
        h1 #{details.name}

        //- Feel free personalize the title below
        p.lead.text-light
          | #{details.title}

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | #{details.bio}
        
        h6 Contact Info

        //- Add your own contact info
        //- ul
        div.contact
          i.fa-solid.fa-phone
          |   #{details.phone}
        div.contact
          i.fa-solid.fa-envelope
          |   #{details.email}
        div.contact
          i.fa-solid.fa-location-dot
          |   #{details.email}
        
        //- Add URLs to the hrefs below to link to your social media accounts.
        span.socials
          a(href=details.linkedin, target='_blank')
              i.fa-brands.fa-linkedin
          a(href=details.github, target='_blank')
              i.fa-brands.fa-github
          a(href=details.instagram, target='_blank')
              i.fa-brands.fa-instagram

      .cell.medium-1.large-1
      .cell.portfolio-meta.medium-5.large-5
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
        each skill in details.skills
          li.logo
            svg(viewBox=skill.vb, width="70", height="70")
              path(d=skill.d)
        ul
        each skill in details.skills
          li.skillnames #{skill.name}
        
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  