<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{details.name}
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    script(src='https://kit.fontawesome.com/84ccaf09ac.js', crossorigin='anonymous')
    script(src="/static/js/typewrite.js") 
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src=details.picture)
          .cell.auto

            h5 #{details.name}

            p.text-light  #{details.description}

            a(href='/about') Learn More →
            p
            span.socials
              a(href=details.linkedin, target='_blank')
                  i.fa-brands.fa-linkedin
              a(href=details.github, target='_blank')
                  i.fa-brands.fa-github
              a(href=details.instagram, target='_blank')
                  i.fa-brands.fa-instagram

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')
          span.title-bar-title #{details.name}
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
