extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.medium-6.large-6

        h1 #{project.project_name}

        p.lead.text-light
          | #{project.description}
      .cell.medium-1.large-1
      .cell.portfolio-meta.medium-4.large-5
        h6 Technologies

        ul
        each tech in project.technologies
          li.skillnames #{tech}

        h6

        h6 External Links
        a(href=project.live, target='_blank').ext_link
          i.fa-solid.fa-globe

        a(href=project.github, target='_blank').ext_link
          i.fa-brands.fa-github
        hr

    each image in project.image_urls
      img.image(src=image)